<body class="" style="min-height:100vh;background-color: #0F2167 ;">
<div   class="d-flex p-4 justify-content-center align-items-center ">
  <div class="position-absolute top-0 start-0">
    <img src="../../assets/img/logo1 (1).png" width="13%" height="13%" alt="">
  </div>
  <div class="m-2 m-md-4 m-xl-5 position-fixed top-0 end-0 d-flex align-items-center justify-content-center text-center" style="background-color:#3559E0; width: 70px; height: 40px;">
    <div [ngStyle]="{'background-color': counteurm == 0 ? 'red' : 'white'}" class="m-2 m-md-4 m-xl-5 position-fixed top-0 end-0 d-flex align-items-center justify-content-center text-center" style="width: 70px; height: 40px;">
      {{ counteurm }}:{{ counteurs.toString().padStart(2, '0') }}
    </div>  </div>
    
<div class="" style="background-color:#3559E0; width: 75% ;border-radius: 45px;box-shadow: 0 0 10px rgba(0,0,0);">
  <div class="d-flex justify-content-center">
  <div class="mt-5  alert alert-primary " style="width: 80%;align-items: center;justify-self: center;" role="alert">
    <div class="alert-heading h4">Wellcome {{this.nom}}  !</div>
    <p></p>
    <hr>
    <p class="mb-0">you must only chose the correct answer , multiple answers can be checked.</p>
  </div>
</div>
<div #container  *ngFor="let quest of quests" class="mt-5 d-flex justify-content-center">
  <table  class="table  table-secondary" style="width:90%; " name="repp" id={{quest.id}} >
      <thead class="" name="">
          <tr >
              <td colspan="5" class="fs-5 fw-bold p-3">{{ quest.questions}}</td>   
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let rep of reps">
              <td colspan="4" *ngIf="quest.id==rep.idq" class="p-3" id={{rep.id}}>{{rep.reponse}}</td> 
              <td class="" style="text-align: center; vertical-align: middle; width: 30px;" *ngIf="quest.id==rep.idq" class=""><input type="checkbox" #checkbox name="" [id]="rep['t/f']"  ></td>    
          </tr>
        </tbody>
  </table>
</div>
<div class="w-100 d-flex align-items-center justify-content-center">
<div class="mb-4 w-25  btn btn-success" (click)="check()">confirm</div>
</div>
</div>
</div>
</body>