.text {
    font-size: 16px; 
  }
  @media (max-width: 768px) {
    .text {
      font-size: 12px; 
    }
  }
.arrow-icon {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }
 .arrow-icon:hover {
    transform: scale(1.2);
    
  }
  .card-body{
    background-color: rgba( 33,37,41 , 0.03);
  }
  .xxx{
    border-color: brown;
  }