<div class="container mt-2">
    <div class="card shadow mb-2"> 
     <div class="card-body">
     <h1 style="text-align:center;">Accès interdit</h1><br> 
     <div class="container mt-5 w-100">
     <div class="row justify-content-md-center">
     <div class="">
     <div class="alert alert-danger  " style="text-align:center;">
    <strong class="h3">Vous ne pouvez pas utiliser cette page pour le moment. <button class="btn btn-outline-danger bi-house" routerLink=""></button></strong>
     </div>
     <div style="text-align:center;">
            <i class="text-danger bi bi-x-octagon-fill" style="font-size: 200px;"> </i>
     </div>
     </div>
     </div>
     </div>
     </div>
    </div>
</div>