<body>
<div class="position-absolute  top-0 start-0">
    <img src="../../assets/img/logo1 (1).png" style="min-width: 90px;" width="20%" height="20%" alt="">
</div>
    <div class="wrapper">
<h1>Login</h1>
<div class="input-box">
    <input type="text" placeholder="nom" required [(ngModel)]="nom"> 
    <i class="bi bi-person"></i>
</div>
<div class="input-box">
    <input type="text" placeholder="mat" required [(ngModel)]="mat"> 
    <i class="bi bi-person"></i>
</div>
<div class="input-box">
    <input type="text" placeholder="cin" required [(ngModel)]="cin"> 
    <i class="bi bi-person-vcard"></i>
</div>
<button type="submit" class="btn btn-success" (click)="login()">Start</button><br><br>
</div>
</body>