input[type=checkbox]{
    height: 30px;
    width: 30px; 
    border-color:black ;
}
button:hover{
    background-color: brown;
}
input[type=text]{
    border-radius: 50px;
    height: 45px;
    border-color: black;
}
.arrow-icon {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow-icon:hover {
    transform: scale(1.2);
    
  }
  .xxx{
    border-color: brown;
  }

  